* {
	box-sizing: border-box;
}

.instagram {
	width: 1000px;
	height: 350px;
	display: block;
	margin: 20px auto;
	padding: 5px;
	border: 1px solid #1266FF;
}

.instagram .insta_photo {
	width: 50%;
	height: 100%;
	float: left;
	padding: 10px;
}

.instagram .insta_ex {
	width: 50%;
	height: 100%;
	float: right;
	padding: 10px; 
}

.instagram .insta_id {
	width: 100%;
	height: 35%;
	border-bottom: 1px solid black;
	padding: 20px;
}

.hashtag {
	width: 100%;
	padding: 20px;
}

.hashtag p {
	font-size: 20px;
}

.site {
	text-decoration: none;
	color: blue;
	font-size: 20px;
}

.place_id {
	font-size: 30px;
}